body { font-family: sans-serif; font-size: 12px;}
h1 { font-size: 16px;}
.element  {color: #660000;  line-height: 0.5;}
.attribut  { color: #006600; }
.text  { color: #000066; }
.comment {color: #006600; line-height: 0.5;}
.info  { font-weight: bold; font-size: 14px; }